#projects {
    display: flex;
    flex-direction: column;
}

#projects h2 {
    text-align: center;
    width: 100%;
    -webkit-text-stroke: 2px #6039fe;
    color: transparent;
    font-size: 10em;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.down {
    margin-top: 10%;
}

.project {
    margin-left: 5%;
    display: flex;
}

.project-content {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
}

.down-content {
    margin-left: 0;
    margin-right: 15%;
}

.project-content h3 {
    margin-top: 10%;
    z-index: 1;
    color: #e24646;
    font-size: 30px;
}

.project-content .project-ss {
    z-index: 0;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: left;
    left: 4.7vw;
    border-left: 4px solid #792525;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    border-top: 4px solid #792525;
    height: 55vh;
    width: 52vw;
}

.project-content .down-ss {
    border-color: #fff;
}

.project-content .project-ss img {
    opacity: 0.6;
    width: 45vw;
    height: 22vw;
    margin-left: 20px;
    margin-top: 20px;
}

.project-desc {
    z-index: 1;
}

.project-cover {
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #e24646;
    animation: 2s infinite boxShadowPulseAnimation;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

.prawimy {
    box-shadow: 0 0 10px #fafafa;
    animation: none;
}

.project-cover:hover {
    transition: .5s;
    transform: translateY(-20px);
}

@keyframes boxShadowPulseAnimation {
    0% {
        box-shadow: 0 0 10px #e24646;
    }
    14% {
        box-shadow: 0 0 12.5px #e24646;
    }
    28% {
        box-shadow: 0 0 15px #e24646;
    }
    42% {
        box-shadow: 0 0 17.5px #e24646;
    }
    56% {
        box-shadow: 0 0 20px #e24646;
    }
    70% {
        box-shadow: 0 0 17.5px #e24646;
    }
    84% {
        box-shadow: 0 0 15px #e24646;
    }
}