.App {
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

html, body {
  scroll-behavior: smooth;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.typed-box {
  font-size: 3vw;
  z-index: 2;
  margin-left: 5%;
}