.App {
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  padding-bottom: 25%;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

section {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

html, body {
  scroll-behavior: smooth;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e7e7e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.typed-box {
  font-size: 3vw;
  z-index: 2;
  margin-left: 5%;
}